<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/proccese" method="post">
        <textarea style="width: fit-content;height: fit-content;" name="input" id="" required>{{ .AsciiOutput | html }}</textarea>
        <button type="submit" name="banner" value="standard">standard</button>
        <button type="submit" name="banner" value="shadow">shadow</button>
        <button type="submit" name="banner" value="thinkertoy">thinkertoy</button>
    </form>
</body>
</html>