<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/proccese" method="post">
        <textarea maxlength="200" style="width: 500px;height: 500px;" name="input" id="" required>{{.Old}}</textarea>
        <button type="submit" style="display: inline;" name="banner" value="standard">standard</button>
        <button type="submit" style="display: inline;" name="banner" value="shadow">shadow</button>
        <button type="submit" style="display: inline;" name="banner" value="thinkertoy">thinkertoy</button>
        <pre readonly style="overflow: auto;" name="input" id="" >{{ .AsciiOutput }}</pre>
    </form>
</body>
</html>